<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div class="content">
    <h1>
      <a routerLink="/">
        <img id="logo" src="assets/barklee.png" alt="Barklee" />
      </a>
    </h1>
    <ul>
      <li>
        <a routerLink="/">Головна</a>
      </li>
      <li>
        <a routerLink="/pets">Тварини</a>
      </li>
      <li>
        <a routerLink="/how">Як допомогти</a>
      </li>
      <li>
        <a routerLink="/faq">Корисна інформація</a>
      </li>
    </ul>
  </div>
</header>
<!--
<ul>
  <li>
    <a routerLink="/sign/in">Sign In</a>
  </li>
</ul>
-->
<router-outlet></router-outlet>
